/* Esse é um exemplo de como estilizar um componte 
ele deve ser feito em um .module.css dentro da pasta stiles
e deve ter o mesmo nome do componnete ou pagina que esta estilizando */

/* Tambem va ate o componte MovieCard para verificar como a estilizacao foi chamada */
div .card{
    background-color: var(--fundo-claro);
    margin: 5px;
    border-radius: 0.3rem;
}

.card {
    height: 40vh;
    object-fit: contain;
    padding: 0.4rem;
    background-color: var(--fundo-medio);
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.card img {
    height: 100%;
    border-radius: 0.3rem;

}

.card:hover {
    transform: scale(.95);
    transition: all .4s ease-in-out;
}

.card span{
    display: flex;
    justify-content: center;
}

.card span:hover {
    color: var(--destaque-primaria);
}
