/* Esse é um exemplo de como estilizar um componte 
ele deve ser feito em um .module.css dentro da pasta stiles
e deve ter o mesmo nome do componnete ou pagina que esta estilizando */

/* Tambem va ate o componte MovieCard para verificar como a estilizacao foi chamada */
div .card{
    background-color: var(--fundo-claro);
    margin: 5px;
    border-radius: 0.3rem;
}

.card {
    height: 40vh;
    object-fit: contain;
    padding: 0.2rem;
}

.card img {
    height: 80%;
    border-radius: 0.3rem;
}

.card:hover {
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}

.card span:hover {
    color: var(--destaque-primaria);
}